{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="user-wrapper">
                <ul class="users">

                    {%  for user in data['users'] %}
                    <li class="user" id="{{ user.id }}">

                        {% for unread in data['unread_messages'] if unread['from'] == user.id %}
                            <span class="pending">{{ unread['message_count'] }}</span>
                        {% endfor %}

                        <div class="media">
                            <div class="media-left">
                                {#<img src="{{ user.avatar }}" alt="" class="media-object">#}
                                {#{ dump(user.user_picture.value.target_id ) }#}
                                <img src={{ file_url(user.user_picture.entity.fileuri)  }} alt="" class="media-object">
                            </div>

                            <div class="media-body">
                                {#
                                <p class="name">{{ user.name }}</p>
                                <p class="email">{{ user.email }}</p>
                                #}
                                <p class="name">{{ user.displayname }}</p>
                                <p class="email">{{ user.email }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        <div class="col-md-8" id="messages">


        </div>
    </div>
</div>
