{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<section id="chat_block">
  <div class="chat-controls">
    <div class="info">Unread messages.</div>
    <div class="notifications">
      <span class="total">{{ data['total_unread'] }}</span>
    </div>
    <div class="chat-state closed"></div>
  </div>
  <div id="dru-chat-block">
    <div class="message-list" id="messages">


    </div>
    <div class="user-list">
      <div class="user-wrapper">
        <ul class="users">

          {%  for user in data['users'] %}
            <li class="user" id="{{ user.id }}">

              {% for unread in data['unread_messages'] if unread['from'] == user.id %}
                <span class="pending">{{ unread['message_count'] }}</span>
              {% endfor %}

              <div class="media">
                <div class="media-left">
                  {#<img src="{{ user.avatar }}" alt="" class="media-object">#}
                  {#{ dump(user.user_picture.value.target_id ) }#}
                  <img src="{{ file_url(user.user_picture.entity.fileuri)  }}" alt="" class="media-object">
                </div>

                <div class="media-body">
                  <p class="name">{{ user.displayname }}</p>
                </div>
              </div>
            </li>
          {% endfor %}

        </ul>
      </div>
    </div>

  </div>
</section>

<script>
  const notifications = document.querySelector('.chat-controls .notifications')
  const chat_view = document.querySelector('.chat-controls .chat-state')
  const chat_controls = document.querySelector('#chat_block .chat-controls')
  const chat_block_view = document.querySelector('#chat_block #dru-chat-block')
  const user_list = document.querySelector('#dru-chat-block .user-list')
  const notification_info = document.querySelector('.chat-controls')

  function toggleChatView(){
    console.log(chat_view.classList)
    // if for minimize view or maximize
    if (chat_view.classList.contains('chat-state')){
      /*if (chat_view.classList.contains('opened')) {
        // view is now closed, show unread help text
        const msg = document.createElement('div')
        msg.classList.add('info')
        msg.innerText = `Unread messages.`
        chat_controls.prepend(msg)
      }*/
      chat_view.classList.toggle('closed')
      chat_view.classList.toggle('opened')
      chat_controls.classList.toggle('opened')
      // TODO:: control others from master div and remove these
      chat_block_view.classList.toggle('open-view')
    }
  }

  function notificationToolTip(){

  }



  chat_controls.addEventListener('click', toggleChatView)
  notifications.addEventListener('mouseover', notificationToolTip)
</script>

{{  attach_library('dru_chat/pusher_chat') }}
